<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stewart.orm.mybatis.pagehelper.mapper.DemoMapper">

    <resultMap id="demoMap" type="com.stewart.orm.mybatis.pagehelper.entity.Demo">
        <id column="id" jdbcType="BIGINT" javaType="Long" property="id"/>
        <result column="info" jdbcType="VARCHAR" javaType="String" property="info"/>
        <result column="resume" jdbcType="VARCHAR" javaType="String" property="resume"/>
        <result column="delete_flag" jdbcType="TINYINT" javaType="Integer" property="deleteFlag"/>
        <result column="create_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime" property="updateTime"/>
    </resultMap>

    <select id="queryAll" resultMap="demoMap">
        select * from orm_demo
    </select>

    <select id="queryPage" resultMap="demoMap">
        select * from orm_demo
    </select>

</mapper>